/* IMPORTS */
.navbar-toggler-icon .navbar-toggler {
  color: #0f0e0e;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../assets/Header-M.jpg);
}

.nav {
  background: rgba(128, 255, 0, 0);
}

.titulo-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12rem;
  text-align: center;
  padding: 1rem;
}

.titulo-principal h1 {
  color: #faf6f6;
  line-height: 2.3rem;
}

.boton {
  display: inline-block;
  width: 7rem;
  padding: .7rem;
  background-color: #faf6f6;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: .5rem;
  margin-top: 4rem;
}

.titulo-principal a {
  text-decoration: none;
  color: #0f0e0e;
}

.arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 1rem;
  padding: 1rem;
}

.arrow svg {
  width: 2rem;
  height: auto;
  color: #faf6f6;
  position: relative;
}

.arrow a {
  width: 2rem;
  height: 2rem;
  position: absolute;
}

/* CARRUSEL */
/* FOOTER */
.footer {
  background-color: #0f0e0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  /* redes */
  /* contacto */
  /* textos */
}

.footer h5 {
  color: #faf6f6;
  text-align: center;
}

.footer .footer__redes--iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  width: 100%;
}

.footer .footer__redes--iconos .icono {
  margin: 0 1.5rem;
}

.footer .footer__redes--iconos .icono svg {
  color: #faf6f6;
}

.footer .footer__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-top: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__contacto label {
  color: #faf6f6;
  padding-top: 5px;
}

.footer .footer__contacto .footer__contacto--input {
  border-radius: .4rem;
}

.footer .footer__contacto .footer__contacto--btn {
  padding: .2rem .6rem;
  border-radius: .4rem;
}

.footer .footer__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__textos p {
  color: #faf6f6;
  height: 2rem;
}

.footer .footer__textos .footer__textos--arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__textos .footer__textos--arrow svg {
  width: 2rem;
  height: 2rem;
  color: #faf6f6;
  position: relative;
}

.footer .footer__textos .footer__textos--arrow a {
  width: 2rem;
  height: 2rem;
  position: absolute;
}
/*# sourceMappingURL=estilos.css.map */