

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(./assets/Header-M.jpg);
}
.nav{
    background: rgba(128, 255, 0, 0);
}
.titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
    text-align: center;
    padding: 1rem;
}
.titulo-principal h1{
    color: #faf6f6;
    line-height: 2.3rem;
}
.boton{
    display: inline-block;
    width: 8rem;
    padding: .8rem ;
    background-color: #080808;
    text-align: center;
    align-self: center;
    border-radius: .5rem;
    margin-top: 4rem;
}
.titulo-principal a{
    text-decoration: none;
    color: #faf6f6;
}
.arrow{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    padding: 1rem;
}
.arrow svg{
    width: 2rem;
    height: auto;
    color: #faf6f6;
}